extends layout

block content
  if(music)
    h2#title
    image#cover(width='200',height='200')
    audio#audio(controls='true')
    p.control
      i#prev PREV
      i#next NEXT
    ul
      - for(var i = 0; i < music.length; i++)
        li
          b [#{music[i].source}]&nbsp;&nbsp;&nbsp;
          span(data-src=music[i].src, data-cover=music[i].cover)= music[i].title
          small &nbsp;&nbsp;&nbsp;#{music[i].album}&nbsp;&nbsp;&nbsp;
          small.author #{music[i].author}&nbsp;&nbsp;&nbsp;
          a(href=music[i].src, download=music[i].title) 下载
  else
    p 暂无歌曲
